<div class="motd">
    <h1>Welcome to API Documentation!</h1>

    <p>
        You should find here all the documentation you need to use our API, but
    </p>

    <h2>Lest's get started!</h2>
    <p>
        If you are developping an application using our API you will need to provide for each call in the headers. The name of the custom header must be 'X-AUTH-TOKEN' (ex: X-AUTH-TOKEN=testTokenOk).
    </p>

    <h3>The API itself</h3>
    <p>
        The documentation is pretty simple and obvious: all the available routes are listed bellow with their documentation.<br />
        You can either ask for a <strong>JSON</strong> or <strong>XML</strong> response by specifying <strong><em>_format=</em></strong> in the url.<br />
    </p>



</div>
